<div class="page page--cover">
  <div class="cover-inner">

    <header class="cover-header">
      {{#if cover.logo_image}}
        <img
          src="{{cover.logo_image}}"
          alt="{{cover.logo_alt}}"
          class="cover-logo-image"
        />
      {{/if}}

      <h1 class="cover-title">{{cover.title}}</h1>

      {{#if cover.venue_name}}
        <h2 class="cover-venue">{{cover.venue_name}}</h2>
      {{/if}}
    </header>

    {{#if cover.description}}
      <p class="cover-description">
        {{cover.description}}
      </p>
    {{/if}}

    {{#if cover.qr_image}}
      <div class="cover-qr">
        <img
          src="{{cover.qr_image}}"
          alt="{{cover.qr_alt}}"
          class="cover-qr-image"
        />
        {{#if cover.qr_caption}}
          <p class="cover-qr-caption">
            {{cover.qr_caption}}
          </p>
        {{/if}}
      </div>
    {{/if}}

  </div>
</div>
